.card {
  box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2),
  0px 6px 10px 0px rgba(0, 0, 0, 0.14),
  0px 1px 18px 0px rgba(0, 0, 0, 0.12);
}

.calendar-tips {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 2%;
}
.calendar-tips {
  color: #9AaAaA;
  text-align: center;
}
.calendar-divider {
  width: 120px;
  height: 2px;
  overflow: hidden;
  background: #e9ecef;
  margin: 10px;
}

.date-picker {
  margin: 0 auto;
  text-align: center;
}
.box {
  display: flex;
  align-items:center;
  justify-content:center;
  height: 100%;
  flex-direction:column;
}

.empty {
  color: lightgray;
  font-size: 10em;
}
.p1 {
  color: lightgray;
  font-size: 5em;
}
.p2 {
  color: lightgray;
  font-size: 2em;
}
.time-tips {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 2%;
}
/*.btn-tips {*/
/*  margin: 5% 0 2% 0 ;*/
/*}*/
.timeTips {
  font-size: 15px;
  color: #9AaAaA;
  text-align: center;
  display: inline;
}
.time-divider {
  width: 25px;
  height: 2px;
  overflow: hidden;
  background: #e9ecef;
  margin: 5px;
}

.alert {
  padding: 0;
  font-size: 20px;
  text-align: center;
}
