img {
  opacity: 0.6;
  color: #fff;
  background: #000
}

.card-shadow {
  box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2),
  0px 6px 10px 0px rgba(0, 0, 0, 0.14),
  0px 1px 18px 0px rgba(0, 0, 0, 0.12);
}
input.ng-valid.ng-dirty:not(#confirmPwd){
  border: 2px solid darkgreen;
}

input.ng-dirty.ng-invalid:not(#confirmPwd) {
  border: 2px solid darkred;
}

textarea.ng-valid.ng-dirty {
  border: 2px solid darkgreen;
}
textarea.ng-dirty.ng-invalid {
  border: 2px solid darkred;
}

.matched-pwd {
  border: 2px solid darkgreen;
}

.not-matched-pwd {
  border: 2px solid darkred;
}
