p{
  text-align: justify;
}
.follow-table>tr>td {
  padding: 0 30px;
  font-size: 50px;
}
#map-img, #tongue2-img {
  transition-duration: 1s;
}
#map-img:hover, #tongue2-img:hover {
  transform:scale(1.5,1.5);
}

table>tr>td>i {
  transition-duration: 0.5s;
  cursor:pointer;
}
table>tr>td>i:hover {
  transform:scale(1.2,1.2);
}
#img-jumbotron {
  transition-duration: 1s;
}
#img-jumbotron:hover {
  opacity: 0.2;
  transform:translate(60px);
}
.jumbotron-app-billboard {
  background-color: black;
}
.jumbotron-app-billboard .img{
  margin-bottom: 0px;
  opacity: 0.6;
  color: #fff;
  background: #000 url("../../../assets/Einstein.jpg") top center no-repeat;
  width: 100%;
  height: 100%;
  background-size: contain;
  overflow: hidden;
  position:absolute;
  top:0;
  left:0;
  z-index:1;
}
.jumbotron-app {
  position:relative;
  padding-top:100px;
  padding-bottom:100px;
}
.jumbotron-app .container {
  position:relative;
  z-index:2;
}

