<div class="container">
  <div class="row m-2 align-items-center">
    <div class="col-3"></div>
    <div class="col-3">
      <table>
        <tr>
          <td class="text-info" rowspan="2" style="font-size: 40px;">
            <span class="fas fa-phone">&nbsp;</span>
          </td>
          <td style="vertical-align: bottom">
            <strong>1(608)667-6188</strong>
          </td>
        </tr>
        <tr>
          <td style="vertical-align: top">
            <span style="color:darkgrey">Mon~Fri, 8:00 - 20:00</span>
          </td>
        </tr>
      </table>
    </div>
    <div class="col-3">
      <table>
        <tr>
          <td class="text-info" rowspan="2" style="font-size: 40px;">
            <span class="far fa-envelope">&nbsp;</span>
          </td>
          <td style="vertical-align: bottom">
            <strong>deng5945@btd.com</strong>
          </td>
        </tr>
        <tr>
          <td style="vertical-align: top">
            <span style="color:darkgrey">Anytime is welcome!</span>
          </td>
        </tr>
      </table>
    </div>
    <div class="col-3 py-2 align-content-center">
      <button class="btn btn-outline-info">Contact Us</button>
    </div>
  </div>

</div>


<div class="jumbotron-app jumbotron-app-billboard" style="overflow:hidden;">
  <div class="img" id="img-jumbotron"></div>
  <div class="container">
    <div class="row">
      <div class="col-12 text-white">
        <h2>Welcome to Best Tongue Diagnose</h2>
        <p>Learn how to use the BTD system.</p>
        <button href="#" class="btn btn-info btn-lg">Get Started</button>
      </div>
    </div>
  </div>
</div>



<div class="container-fluid py-5">
  <div class="row align-items-center">
    <div class="col-1"></div>
    <div class="col-5">
      <div class="row my-2">
        <h2 class="mt-2">What can we do?</h2>
      </div>
      <div class="row p-2">
        <p class="col">In traditional Chinese medicine,
          the tongue is the seed of the heart, and the tongue is coated by the stomach chi.
          The human viscera are connected to the tongue by meridians.
          Therefore, traditional Chinese medicine can help diagnose and
          identify the body condition of patients by observing the color and shape of the tongue.</p>
      </div>
      <div class="row">
        <div class="col-12">
          <p>&nbsp;&nbsp;The BTD system uses Deep Learning to diagnose the risk of diabetes.</p>
        </div>

      </div>
    </div>
    <div class="col-2"></div>
    <div>
      <img id="tongue2-img" src="../assets/tongue2.png" width="300px" height="300px" alt="Map Icon">
    </div>
  </div>
</div>


<div style="background-color: #EDEDED" class="container-fluid py-5">
  <div class="row align-items-center">
    <div class="col-1"></div>
    <div class="col my-2">
      <h2>Who are we?</h2>
    </div>
  </div>
  <div class="row col-12 mx-0">
    <div id="carousel-staff" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#carousel-staff" data-slide-to="0" class="active m-2"></li>
        <li data-target="#carousel-staff" data-slide-to="1" class="m-2"></li>
        <li data-target="#carousel-staff" data-slide-to="2" class="m-2"></li>
      </ol>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <div class="row justify-content-center">
            <!--            <div class="col-1"></div>-->
            <div class="col-4"><img src="../assets/Einstein.jpg" class="d-block w-100">
              <!--              <div class="card" style="width: 18rem;">-->
              <!--                <img src="../assets/tongue2.png" class="card-img-top">-->
              <!--                <div class="card-body">-->
              <!--                  <h5 class="card-title">Title</h5>-->
              <!--                  <p class="card-text">This is a test card.</p>-->
              <!--                </div>-->
              <!--              </div>-->
            </div>
            <div class="col-4"><img src="../assets/Einstein.jpg" class="d-block w-100"></div>
            <div class="col-4"><img src="../assets/Einstein.jpg" class="d-block w-100"></div>
            <!--            <div class="col-3"><img src="../assets/Einstein.jpg" class="d-block w-100"></div>-->
            <!--            <div class="col-1"></div>-->
          </div>
        </div>
        <div class="carousel-item">
          <div class="row justify-content-center">
            <div class="col-4"><img src="../assets/Einstein.jpg" class="d-block w-100"></div>
            <div class="col-4"><img src="../assets/Einstein.jpg" class="d-block w-100"></div>
            <div class="col-4"><img src="../assets/Einstein.jpg" class="d-block w-100"></div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="row justify-content-center">
            <div class="col-4"><img src="../assets/Einstein.jpg" class="d-block w-100"></div>
            <div class="col-4"><img src="../assets/Einstein.jpg" class="d-block w-100"></div>
            <div class="col-4"><img src="../assets/Einstein.jpg" class="d-block w-100"></div>
          </div>
        </div>
      </div>

      <a class="carousel-control-prev" href="#carousel-staff" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carousel-staff" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </div>
</div>




<div class="container-fluid py-5">
  <div class="row align-items-center">
    <div class="col-1"></div>
    <div class="col-5">
      <div class="row my-2">
        <h2 class=" mt-2">How to find us?</h2>
      </div>
      <div class="row p-2">
        <p>&nbsp;&nbsp;Wisconsin, US</p>
      </div>
      <div class="row p-2">
        <p>&nbsp;&nbsp;1500 La Crosses Street Eagle Hall</p>
      </div>
    </div>
    <div class="col-2"></div>
    <div>
      <img id="map-img" src="../assets/map.png" width="200px" height="200px" alt="Map Icon">
    </div>
  </div>
</div>

<div  style="background-color: #EDEDED"  class="container-fluid py-3">
  <div class="row align-items-center">
    <div class="col-1"></div>
    <div class="col-5 text-center">
      <table class="follow-table">
        <tr>
          <td><i class="fab fa-youtube"></i></td>
          <td><i class="fab fa-linkedin"></i></td>
          <td><i class="fab fa-twitter"></i></td>
        </tr>
        <tr>
          <td><i class="fab fa-tencent-weibo"></i></td>
          <td><i class="fab fa-weibo"></i></td>
          <td><i class="fab fa-alipay"></i></td>
        </tr>
        <tr>
          <td><i class="fab fa-snapchat-square"></i></td>
          <td><i class="fab fa-instagram"></i></td>
          <td><i class="fab fa-facebook-square"></i></td>
        </tr>
      </table>
    </div>
    <div class="col-2"></div>
    <div class="col">
      <div class="row my-2">
        <h2 class="mt-2">Follow Us!</h2>
      </div>
      <div class="row">
        <p>&nbsp;&nbsp;Just search BTD.</p>
      </div>
    </div>
  </div>
</div>
