.card-shadow {
  box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2),
  0px 6px 10px 0px rgba(0, 0, 0, 0.14),
  0px 1px 18px 0px rgba(0, 0, 0, 0.12);
}

.side {
  background: #eceae8;
  overflow: auto;
  height: 550px;
}

li {
  list-style: none;
}

a {
  display: block;
  text-decoration:none;
  color: black;
  /*border-radius: 3px;*/
  transition-duration: 0.1s;
  cursor: pointer;
}
a:hover {
  background: #dedbda;
  box-shadow: 0px 2px 2px 2px rgba(0,0,0,.2);
}

.active {
  background: #c6c5c5 !important;
  color: #0069AB !important;
  box-shadow: 0px 2px 2px 2px rgba(0,0,0,.2);
}
.box {
  display: flex;
  align-items:center;
  justify-content:center;
  height: 100%;
  flex-direction:column;
}

.empty {
  color: lightgray;
  font-size: 10em;
}
.p1 {
  color: lightgray;
  font-size: 5em;
}
.p2 {
  color: lightgray;
  font-size: 2em;
}
 small {
   color: #999999;
 }

 td {
   vertical-align: middle;
   text-align: center;
 }
 th {
   text-align: center;
 }
.ii {
  color: lightgray;
  font-size: 8em;
}
