<!--<ul>-->
<!--  <li *ngFor="let cus of sideList">-->
<!--    <a style="cursor:pointer" (click)="selectCustomer(cus.email)">{{cus.username}}</a>-->
<!--  </li>-->

<!--</ul>-->
<!--<hr class="my-3">-->
<!--<ul>-->
<!--  <li *ngFor="let dia of dias">-->
<!--    <a style="cursor: pointer" (click)="selectDiagnose(dia)">{{dia.img}}</a>-->
<!--  </li>-->
<!--</ul>-->
<!--<hr class="my-3">-->
<!--<p>-->
<!--  {{selectedDia | json}}-->
<!--</p>-->
<div class="card card-shadow" *ngIf="sideList.length>0">
  <div class="card-header">
    <h5 class="mb-0">Browse Your Patients' Diagnose Reports</h5>
  </div>
  <div class="card-body p-0">
    <div class="container">
      <div class="row">
        <div class="col-sm-3 side p-0">
          <ul class="p-0 my-0">
            <li class="my-8" *ngFor="let cus of sideList">
              <a class="p-1" [class.active]='selectedCus.email == cus.email'
                 (click)="selectCustomer(cus.email)">{{cus.username}}
                <p class="m-0"><small>{{cus.email}}</small></p>
              </a>
            </li>
          </ul>
        </div>
        <div class="col">
          <div class="box" *ngIf="!selectedCus.email">
            <i class="fas fa-user-injured ii"></i>
            <p class="p2">
              Select one patient to get more information
            </p>
          </div>
          <h5 class="my-2" *ngIf="selectedCus.email">{{selectedCus.username}}  <small>{{selectedCus.email}}</small></h5>
          <table class="table table-hover" *ngIf="selectedCus.email">
            <thead>
            <tr>
              <th>Thumbnail</th>
              <th>Date</th>
              <th>Result</th>
              <th>Action</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let dia of selectedDias">
              <td class="py-1" >
                <img [src]="boxImg+dia.img | trustUrl" width="80px" height="80px">
              </td>
              <td>{{dia.time | date: 'medium'}}</td>
              <td>{{dia.result}}</td>
              <td>
                <button class="btn btn-info" data-toggle="modal" data-target="#modal-detail"
                        (click)="selectDiagnose(dia)">Detail</button>
              </td>

            </tr>
            </tbody>
          </table>
<!--          <div class="btn-group m-3" style="float:right;" *ngIf="selectedCus.email">-->
<!--            <button class="btn btn-outline-info" (click)="previousPage()"-->
<!--                    [disabled]="selectedPage == 1">Previous-->
<!--            </button>-->
<!--            <button *ngFor="let page of pageNumbers" (click)="changePage(page)"-->
<!--                    class="btn btn-outline-info" [class.active]="page==selectedPage">-->
<!--              {{page}}-->
<!--            </button>-->
<!--            <button class="btn btn-outline-info" (click)="nextPage()"-->
<!--                    [disabled]="selectedPage == pageNumbers[pageNumbers.length-1] || pageNumbers.length == 1">Next-->
<!--            </button>-->
<!--          </div>-->
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="modal-detail" data-backdrop="static" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modal-label-detail">Detail of {{selectedCus.username}} diagnose</h5>
        <a class="close" data-dismiss="modal" aria-label="Close">
          <i class="fas fa-times-circle" style="color: red; cursor: pointer"></i>
        </a>
      </div>
      <div class="modal-body pb-1">
        <div class="container-fluid">
          <div class="row">
            <div class="col pb-3" style="border-bottom: solid 1.5px lightgrey" *ngIf="selectedDia.img">
              <img [src]="wholeImg+selectedDia.img | trustUrl" width="330px" height="330px">
              <img [src]="boxImg+selectedDia.img | trustUrl" width="330px" height="330px"
                   style="float: right">
            </div>
          </div>
          <div class="row">
            <div class="col" id="detailMsg">
              <div class="py-3">
                <strong>Username: </strong>
                <span id="username">{{selectedCus.username}}</span>
              </div>
              <div class="pb-3">
                <strong>Birthday: </strong>
                <span id="birthday">{{selectedCus.birthday | date:'mediumDate'}}</span>
              </div>
              <div class="pb-3">
                <strong>Diagnose Time: </strong>
                <span id="diagnoseTime">{{selectedDia.time | date:'medium'}}</span>
              </div>
              <div class="pb-3">
                <strong>Result: </strong>
                <span id="result">{{selectedDia.result}}</span>
              </div>
              <div class="pb-2">
                <strong>Description: </strong>
                <span id="desc">{{selectedCus.desc? selectedCus.desc:'None'}}</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>




<div class="box" *ngIf="sideList.length<=0">
  <i class="fas fa-inbox empty"></i>
  <p class="p1">
    Whoops!
  </p>
  <p class="p2">
    There is no customer bound you.
  </p>
</div>
