<div class="col-6 offset-1" style="width: 500px">
  <div class="card ml-5">
    <div class="card-header">
      <table>
        <tr>
          <td rowspan="2">
            <img src="../../../assets/doctors/12.jpg" class="rounded-circle" width="80" height="80">
          </td>
          <td>&nbsp;&nbsp;&nbsp;</td>
          <td><strong>Tomas: </strong> <a href="#"> tomas123@btd.com</a></td>
        </tr>
        <tr>
          <td>&nbsp;&nbsp;&nbsp;</td>
          <td>Office location: main hall 608</td>
        </tr>
      </table>
    </div>
    <div class="card-body">
      <h5 class="card-title">Introduction</h5>
      <div class="card-text">Excellent long-term diagnosis and treatment of common diseases of oral and maxillofacial infectious diseases, benign tumors, joint diseases and other common diseases, especially for the comprehensive treatment of oral head disease malignant tumors, congenital malformations and acquired defects Reconstruction and reconstruction create a precedent in China.
      </div>
    </div>
  </div>
</div>


