
<div class="col-5 offset-1 text-center">
  <table class="follow-table">
    <tr>
      <td><i class="fab fa-youtube i1"></i></td>
      <td><i class="fab fa-linkedin i2"></i></td>
      <td><i class="fab fa-twitter i3"></i></td>
    </tr>
    <tr>
      <td><i class="fab fa-tencent-weibo i1"></i></td>
      <td><i class="fab fa-weibo i2"></i></td>
      <td><i class="fab fa-alipay i3"></i></td>
    </tr>
    <tr>
      <td><i class="fab fa-snapchat-square i1"></i></td>
      <td><i class="fab fa-facebook-square i2"></i></td>
      <td><i class="fab fa-github i3"></i></td>
    </tr>
  </table>
</div>
<span><i class="fab fa-facebook-square"></i></span>
