<div class="page-header mb-4">
  <h2>Welcome Back <small>Overview dashboard</small></h2>
</div>
<div *ngIf="user.role == 0">
  <div class="card main-shadow">
    <h5 class="card-header">
      Diagnose Records<small> Only display the latest three diagnoses</small>
    </h5>
    <div class="card-body py-0">
      <table class="table table-hover table-borderless" *ngIf="!emptyDiagnose">
        <thead>
        <tr>
          <th>Thumbnail</th>
          <th>Date</th>
          <th>Result</th>
        </tr>
        </thead>
        <tbody class="">
        <tr *ngFor="let diagnose of diagnoses">
          <td class="imgTd">
            <img [src]="boxImg+diagnose.img | trustUrl" width="80px" height="80px">
          </td>
          <td>{{diagnose.time | date:'medium'}}</td>
          <td>{{diagnose.result}}</td>
        </tr>
        </tbody>
      </table>
      <p *ngIf="emptyDiagnose" class="empty"><i class="fas fa-box-open"></i><br>No record</p>
    </div>
  </div>
  <div class="card main-shadow text-white"
       [class.text-white]="!emptyDiagnose"
       [class.bg-warning]="lastAppointment.status=='Waiting'"
       [class.bg-success]="lastAppointment.status=='Accepted'"
       [class.bg-danger]="lastAppointment.status=='Rejected'"
       [class.bg-info]="lastAppointment.status=='Done'">
    <h5 class="card-header">
      Last Appointment View
    </h5>
    <div class="card-body">
      <table class="table table-borderless text-white" *ngIf="!emptyAppointment">
        <thead>
        <tr>
          <th>Doctor</th>
          <th>Email</th>
          <th>Appointment Date</th>
          <th>Apply Date</th>
          <th>Status</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td>{{bindDoctor.username}}</td>
          <td><a class="bindDoctor">{{bindDoctor.email}}</a></td>
          <td>{{lastAppointment.appointmentDate | date: 'medium'}}</td>
          <td>{{lastAppointment.applyDate | date: 'medium'}}</td>
          <td>{{lastAppointment.status}}</td>
        </tr>
        </tbody>
      </table>
      <p *ngIf="emptyAppointment" class="empty"><i class="fas fa-box-open"></i><br>No record</p>
    </div>
  </div>
</div>


<div *ngIf="user.role == 1">
  <div class="row justify-content-start">
    <div class="col-8">
      <chart [type]="type" [data]="dataBind" *ngIf="customers.length>0"></chart>
      <chart [type]="type" [data]="dataEmpty" *ngIf="customers.length<=0"></chart>
    </div>
    <div class="col align-self-center text-center">
      <h5 style="color: #473C8B">
        Customer-bound Doctor Distribution
      </h5>
    </div>
  </div>
  <div class="row justify-content-end mt-4">
    <div class="col align-self-center text-center">
      <h5 style="color: #473C8B">
        Appointments Distribution
      </h5>
    </div>
    <div class="col-8">
      <chart [type]="type" [data]="dataApp" *ngIf="apps.length>0"></chart>
      <chart [type]="type" [data]="dataEmpty" *ngIf="apps.length<=0"></chart>
    </div>
  </div>
</div>


<div *ngIf="user.role == 2">
  <div class="row justify-content-start">
    <div class="col-8">
      <chart [type]="type" [data]="dataCusSex" *ngIf="customers.length>0"></chart>
      <chart [type]="type" [data]="dataEmpty" *ngIf="customers.length<=0"></chart>
    </div>
    <div class="col align-self-center text-center">
      <h5 style="color: #473C8B">
        Customer Gender Distribution
      </h5>
    </div>
  </div>
  <div class="row justify-content-end mt-4">
    <div class="col align-self-center text-center">
      <h5 style="color: #473C8B">
        Doctor Gender Distribution
      </h5>
    </div>
    <div class="col-8">
      <chart [type]="type" [data]="dataDocSex" *ngIf="doctors.length>0"></chart>
      <chart [type]="type" [data]="dataEmpty" *ngIf="doctors.length<=0"></chart>
    </div>
  </div>
</div>
