.box {
  display: flex;
  align-items:center;
  justify-content:center;
  height: 80%;
  flex-direction:column;
}
.empty {
  color: lightgray;
  font-size: 10em;
}
.p1 {
  color: lightgray;
  font-size: 5em;
}
.p2 {
  color: lightgray;
  font-size: 2em;
}

.btn-round{
  border-radius: 48px;
}
.modal{
  overflow: hidden;
}

.modal-size {
  max-width: 520px;
  overflow: hidden;
}
small {
  color: #999999;
  font-size: 14px;
  cursor: pointer;
}
small:hover {
  text-decoration: underline;
}
.content-abstract {
  text-align: justify;
}
