td {
  vertical-align: middle;

}
.action {
  text-align: center;
}
i {
  font-size: 28px;
  cursor: not-allowed;
}
a {
  cursor: pointer;

}
a:hover {
  text-decoration: underline;
}

#modal-detail {
  overflow: hidden;
}


.box {
  display: flex;
  align-items:center;
  justify-content:center;
  height: 100%;
  flex-direction:column;
}
.p1 {
  color: lightgray;
  font-size: 5em;
}
.p2 {
  color: lightgray;
  font-size: 2em;
}


.empty {
  color: lightgray;
  font-size: 10em;
}


