
<div class="divider-line"></div>
<footer class="pb-5 bg-dark">
  <div class="text-center">
<!--    <img src="../../../assets/foot_logo_dark_bg.png">-->
    <img src="../../../assets/foot_logo_new3sm.png">
  </div>
  <div class="text-center mt-3 mb-3">
    <a href="#" class="mx-5">Home</a>
    <a href="#" class="mx-5" data-toggle="modal" data-target="#modal-help">Help</a>
    <a href="#" class="mx-5" data-toggle="modal" data-target="#modal-join">Join us</a>
    <a href="#" class="mx-5" data-toggle="modal" data-target="#modal-service">Customer Service</a>
  </div>
</footer>



<div class="modal fade"  id="modal-help" data-backdrop="static" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modal-label-help">Need help?</h5>
        <a class="close" data-dismiss="modal">
          <i class="fas fa-times-circle" style="color: red"></i>
        </a>
      </div>
      <div class="modal-body">
        <h5 style="text-align: center">Feel free to contact our staff:</h5>
        <p><strong>Email:</strong> deng5945@uwlax.edu</p>
        <p><strong>Phone:</strong> +1(608)6676188</p>
      </div>
    </div>
  </div>
</div>

<div class="modal fade"  id="modal-join" data-backdrop="static" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modal-label-login">Want to join us?</h5>
        <a class="close" data-dismiss="modal">
          <i class="fas fa-times-circle" style="color: red"></i>
        </a>
      </div>
      <div class="modal-body">
        <h5 style="text-align: center">Feel free to contact our staff:</h5>
        <p><strong>Email:</strong> deng5945@uwlax.edu</p>
        <p><strong>Phone:</strong> +1(608)6676188</p>
      </div>
    </div>
  </div>
</div>

<div class="modal fade"  id="modal-service" data-backdrop="static" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modal-label-service">Only accept phone call and email</h5>
        <a class="close" data-dismiss="modal">
          <i class="fas fa-times-circle" style="color: red"></i>
        </a>
      </div>
      <div class="modal-body">
        <h5 style="text-align: center">Feel free to contact our staff:</h5>
        <p><strong>Email:</strong> deng5945@uwlax.edu</p>
        <p><strong>Phone:</strong> +1(608)6676188</p>
      </div>
    </div>
  </div>
</div>
